@using CommonBase.ComponentBase;
@using CommonBase.Dtos.Productos;
@using CommonBase.Models.Productos;
@inherits CustomComponentBase<Productos,ProductosDto>

<PageTitle>Productos</PageTitle>

<h2>Productos</h2>

<p>En esta pagina puedes gestionar los datos de los productos.</p>


@if (DataList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenRow>
        <RadzenColumn Size="11">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="find_in_page" Style="max-width:30%;" Click="@(()=>Buscar())" />
                <RadzenTextBox Placeholder="Buscar..."
                           Style="width:100%!important"
                           @bind-Value="searchCriteria"
                           @oninput=@(args => OnChange(args.Value.ToString()))
                           @onkeypress=@(e=> SearchInputKeyPressed(e)) />
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click=@(args => IrANuevo()) Icon="add" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" class="rz-border-radius-10 rz-shadow-10" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>


    <RadzenDataList IsLoading=@isLoading
                LoadData=@LoadDataGrig
                Count=@count
                Data="@DataList"
                TItem="ProductosDto"
                PageSize="@PageSize"
                PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true"
                AllowPaging="true">
        <Template Context="ProductosDto">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                                    <RadzenLink Path="javascript:void(0)" Text="Go to url" onclick="@(()=> Editar(ProductosDto.Id))"><RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(ProductosDto.Id)</RadzenText>  </RadzenLink>
                                    </RadzenStack>
                                </RadzenColumn>
                                <RadzenColumn>
                                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Gap="0">
                                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="8">
                                            <button type="button" onclick="@(()=> Editar(ProductosDto.Id))" class="btn btn-secondary"><spam class="fa fa-pencil-square-o" aria-hidden="true"></spam></button>
                                            <button type="button" onclick="@(()=> Detete(ProductosDto.Id))" class="btn btn-danger"><spam class="fa fa-trash-o" aria-hidden="true"></spam></button>
                                        </RadzenStack>


                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                            <RadzenRow Gap="1">
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Nombre:</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(ProductosDto.Name)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD=" 6" SizeLG="3">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Descripción:</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(ProductosDto.Description)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Cant. Min:</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(ProductosDto.MinQuantity)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="2" Class="rz-text-align-start rz-text-align-lg-end">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Cantidad Actual:</RadzenText>
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:0.00}",ProductosDto.Cantidad)}") />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="2" Class="rz-text-align-start rz-text-align-lg-end">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">PvP:</RadzenText>
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}",ProductosDto.PvP)}") />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </Template>
        </RadzenDataList>
}

<style>
    .product-title {
        min-height: 72px;
        background-color: var(--rz-secondary-lighter);
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
</style>


@code {

  


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.pathRedirectNew = "productosnew";
        this.MsjDeleteIttem = "Está seguro de querer eliminar el producto?";
        this.MsjDeleteIttemTitle = "Eliminar el producto";
        this.MsjDeleteIttemOK = "Producto eliminado exitósamente";

    }
   

}
